
<%= form_for(portfolio_item) do |form| %>
<% if portfolio_item.errors.any? %>
  <% portfolio_item.errors.full_messages.each do |e| %>
      <%= alert_generator e %>
  <% end %>
<% end %>
<div class="row p-5 m-5">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :ticker %>
      <%= form.text_field :ticker, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :earnings_date %>
      
    
      <%= form.datetime_field :earnings_date, label: false, 
                    placeholder: "Select Date", class: "form-control" %>
     
    </div>

    <div class="form-group">
      <label class="btn btn-primary">
        Upload main image file
        <%= form.file_field :main_image, style: 'display:none;' %>
      </label>

    </div>
    

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :body %>
      <%= form.text_area :body, class: 'form-control', rows: 10 %>
    </div>


  </div>
  </div>
 

    <div class="actions p-5 mb-5">
      <%= form.submit 'Save Item', class: 'btn btn-primary btn-block' %>
    </div>
  </div>

<% end %>


