<div class="col-md-6">
  <div class="card" data-id="<%= portfolio_item.id %>">
    <% if portfolio_item.status == "Bullish" %>
      <%= image_tag "bullmarket.jpg", alt: "bullish", class: 'thumbnail-for-stock-bullish'  %>
    <% end %>

    <% if portfolio_item.status == "Bearish" %>
      <%= image_tag "bearmarket.jpg", alt: "bullish", class: 'thumbnail-for-stock-bearish'  %>
    <% end %>
    <%= image_tag portfolio_img(portfolio_item.main_image, 'main'), width: '100%' %>
    <p class="card-text">
      <div class="d-flex justify-content-center justify-content-around">
        <div class="d-flex flex-column">
          <p class="stock-preview align-self-start">TICKER:</p>
          <p class="font-size-1 align-self-end"><%= link_to portfolio_item.ticker, portfolio_show_path(portfolio_item) %></p>
        </div>
        <div>
          <p class="stock-preview stock-preview--topright">ENTRY:</p>
          <div class="d-flex align-items-stretch">
            <%= inline_svg "credit.svg", class:'' %>
            <p><%= number_to_currency(portfolio_item.pivot_buy) %></p>
          </div>
        </div>
        <div>
          <p class="stock-preview stock-preview--topright">PURCHASE DATE:</p>
          <div class="d-flex align-items-stretch">
            <%= inline_svg "calendar.svg", class:'mr-3' %>
            <p><%= portfolio_item.purchase_date.strftime('%d %b %Y') if portfolio_item.purchase_date %></p>
          </div>
        </div>
        <div>
          <p class="stock-preview stock-preview--topright">SELL DATE:</p>
          <div class="d-flex align-items-stretch">
            <%= inline_svg "calendar.svg", class:'mr-3' %>
            <p>
              <%= portfolio_item.sell_date.present? ? portfolio_item.sell_date.strftime("%b %d, %Y")  : "Holding" %>
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <%= link_to "View Stock", portfolio_show_path(portfolio_item), class: 'btn-stylish btn-stylish--primary' %>
      </div>
      <div class="d-flex justify-content-end mt-4">
        <span class="text-subtitle">Last updated: <strong><%= portfolio_item.updated_at.strftime('%d %b %Y') %></strong></span>
      </div>
    </p>
  </div>
</div>
