

<section>
  <div class="container m-5 p-5">
    <div class="row mt-3">

      <div class="col-lg-10 offset-lg-2">
      <%= link_to 'Add a stock' , new_portfolio_path,  class: 'btn-stylish btn-stylish--navigation' %>
      <h1 class="mt-5">Current Open positions </h1>
      <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Purchase Date</th>


          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <% @rails_portfolio_items.each do |port| %>
          <tr>
            <td><%= port.ticker %></td>
            <td><%= port.purchase_date %></td>

            <% unless port.main_image.url.nil?%>
              <td><%= image_tag port.main_image.url, class: 'thumbnail' %></td>
            <% end %>

            <td><%= link_to 'Edit', edit_portfolio_path(port) if logged_in?(:site_admin)%></td>
            <td><%= link_to 'Delete', portfolio_path(port), method: :delete, data: { confirm: "Are you sure?"} if logged_in?(:site_admin) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>





      </div>
    </div>
  </div>

</section>
