<div class="container-fluid pb-5">
  <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%', class: '#' %>
</div>

<div class="container-fluid port-container">
  <div class="row mb-5">
    

    <div class="col-lg-8 offset-lg-2">
      <div class="table-responsive mb-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Earnings</th>
        </tr>
        </thead>
        <tbody> 
          <tr>
            <td><%= @portfolio_item.ticker %></td>
            <td><%= @portfolio_item.earnings_date.strftime('%d %b %Y') if @portfolio_item.earnings_date %></td>     
           </tr>   
        </tbody>
      </table>
    <blockquote>
      <%= @portfolio_item.body %>
    </blockquote>

    <div class="d-flex justify-content-around p-4 mb-3">
        <%= link_to "Back" , edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
        <% if logged_in?(:site_admin) %>
          <%= link_to "Edit item" , edit_portfolio_path(@portfolio_item), class: 'btn btn-success' %>
       <% end %>
         
    </div>
      

    </div>
  </div>
</div>
