<div class="container-fluid container-stock-picture ">
  <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), class: 'show-stock' %>
</div>

<div class="container-fluid port-container">
  <div class="row mb-5">
    

    <div class="col-lg-12">
      <div class="d-flex justify-content-center justify-content-around">

        <div class="d-flex flex-column sid sid--ticker m-1">
          <p class="sid--header">TICKER:</p>
          <p class="sid--ticker__font"><%= @portfolio_item.ticker %></p> 
        </div>


        <div class="d-flex flex-column sid sid--pivot m-1">
          <p class="sid--header">PIVOT BUY:</p>
          <div class="d-flex align-items-stretch">
            <%= inline_svg "credit.svg", class:'stock-svg stock-svg--show' %>
            <p class="sid--pivot__font"><%= number_to_currency(@portfolio_item.pivot_buy) %></p>  
          </div>
        </div>

        <div class="d-flex flex-column sid sid--stop m-1">
          <p class="sid--header">STOP LOSS:</p>
          <div class="d-flex align-items-stretch">
            <%= inline_svg "credit.svg", class:'stock-svg stock-svg--show' %>
            <p class="sid--stop__font"><%= number_to_currency(@portfolio_item.stop_loss) %></p>  
          </div>
          
        </div>

        <div class="d-flex flex-column sid sid--earnings m-1">
          <p class="sid--header">EARNINGS DATE:</p>
          <div class="d-flex align-items-stretch">
            <%= inline_svg "calendar.svg", class:'stock-svg stock-svg--show mr-3' %>
            <p class="sid--earnings__font"><%= @portfolio_item.earnings_date.strftime('%d %b %Y') if @portfolio_item.earnings_date %></p>
          </div>
          
        </div>
        
      </div>


      <div class="stock-description-body">
      <p>
      <%= @portfolio_item.body %>
      </p>
        
      </div>
      <div class="d-flex justify-content-around p-4 mb-3">
          <%= link_to "Back" , portfolios_path, class: 'btn-stylish btn-stylish--navigation' %>
          <% if logged_in?(:site_admin) %>
            <%= link_to "Edit item" , edit_portfolio_path(@portfolio_item), class: 'btn-stylish btn-stylish--verify' %>
        <% end %>
      </div>

    </div>  

    </div>
  </div>
</div>
