
<div class="">
<div class="ticker-wrap">
  <div class="ticker">
  <% @tickers.each do |stock| %>
    <div class="ticker__item"><%= stock.ticker %></div>
    <% end %>
  </div>
</div>
</div>
<div class="container-fluid bg-light pt-5 pb-5 pl-5">
      <div class="row">
        <div class="col-lg-6 offset-lg-1 p-5 text-center">
        
          <h2 class="text-left section-header mb-4 ">About</h2>

          <p class="text-left paragraph paragraph--dark">There is a lot of information about the markets, stocks, and how to trade correctly. 
          Most people are frauds, and don't even know the basics...yet they have no problems charging people an insane amount of money for 
          their inforamtion.  Some are probably pretty good, and there are only a handful of services worth their weight in gold.</p>

          <p class="text-left paragraph paragraph--dark">I won't pretend to be a pro, and nothing on this site costs money.  I wanted a platform
           where I could write about ideas I had, stocks I am watching, a snapshot of the market, some trades, and other important events.  
           I generally invest on the long side, but have no problems shorting a stock as well.  
           My opinion on the market is irrelavent, and I follow the price, volume, and volatility.  </p>

           <p class="text-left paragraph paragraph--dark"> One final reason why I created this platform;  I genuinly dislike the mainstream media, and what
           it does to investors.  Frankly, those people are crooks, and should be in jail for helping professionals fleece the retail investor.  
           Their methods are false, and their information is meant to decieve...nothing less.  If this platform can help expose those frauds for who they are 
           I will gladly pay money to spread the word.  </p>

          <h3 class="text-left paragraph paragraph--dark ">Reason's to bookmark this site:</h3>

          <div class="listcustom-wrap">

            <div class="listcustom">

              <div >
                <p class="text-left paragraph paragraph--dark"> You are bored of reading about the so-called Fintwit experts who called 
                winning trades after the fact.  These people never seem to lose money, and must be making hundreds of 
                thousands of dollars every single month.
                  If you want to learn their secret, 
                its usually a small fee to watch them.  Too bad they are paper trading and probably know less than you do. </p>
                <%= image_tag "stock-nkla.png", alt: "Twitter B.S", class: 'picture-1' %>
             </div>

              <div class="mt-5">
                <p class="text-left paragraph paragraph--dark">You want learn and grow in this profession as I do the same. I make good calls,
                I make shitty calls too.  Thats life.  I will post trades as they happen, and what they look like.  None of this 'after the fact' bull
                shit you see all over the web.  Below is a real trade in Cardlytics Inc which has been a good performing stock.  And yes, I will post 
                losing trades as well.  As much as buying losers is, getting out of crappy trades is the most important thing. </p>
                
                <%= image_tag "stock-cdlx2.png", alt: "CDLX breakout", class: 'picture-1' %>
              </div>

              <div class="mt-5">
                <p class="text-left paragraph paragraph--dark"> You are sick of being mislead by the financial media.  
                When assholes like Jim Cramer from CNBC start hyping a stock, its time to listen...and getting out.  Plenty of other shitty 
                snake oil salesmen who will hawk a stock, and sell it fist over fist.  Fuck all of them.   </p>
                
                
              </div>

            </div>
            
          </div>

        </div>

        <div class="col-lg-3 offset-lg-1 ">

          <div class="listcustom-wrap blog-news-section">
          <h3 class="text-center heading-stock-news mb-5">Stock News</h3>
          <% @posts.each do |post| %>
            <div class="d-flex flex-column mb-3 p-1">
              <%= image_tag blog_image(post.main_image), class: 'blog_preview_pic' %>
              <div class="d-flex flex-column blog_preview_text m-2">
                <h3 class="blog_preview_header"><%= post.title %></h3>
                <%= link_to 'Read More ...', post, class:'blog_preview_link' %>
              </div>
            </div>
          <% end %>
          </div> <br>
         
          <div class="listcustom-wrap blog-news-section">
          <h3 class="text-center heading-stock-news mb-5">Watch List</h3>
          <%= render 'pages/home/stock_list'%>
          </div>
          

        </div>
      </div>
</div>