
<div class="">
<div class="ticker-wrap">
  <div class="ticker">
  <% @tickers.each do |stock| %>
    <div class="ticker__item"><%= stock.ticker %></div>
    <% end %>
  </div>
</div>
</div>
<div class="container-fluid bg-light pt-5 pb-5 pl-5">
      <div class="row">
        <div class="col-lg-6 offset-lg-1 p-5 text-center">
        
          <h2 class="text-left section-header mb-4 ">About</h2>

          <p class="text-left paragraph paragraph--dark">This platform tracks stocks I am watching, and is updated frequently with 
          new fast-moving growth stocks, and market commentary.  
          There is nothing for sale here.  I track entries, exists, successes, failures and everything in between.  </p>

          <p class="text-left paragraph paragraph--dark"> The name of the game is fast-moving momentum stocks.  These are 
          companies with a new and innovative product, break-out earnings, and expanding margins.  In addition to strong 
          fundamentals, I want to see a fantastic chart with a strong trend.  Think of names like CSCO, JDSU, or QCOM of 
          the late 90s, or more recently, ROKU, SHOP, or CDLX.  These names have strong periods of price appreciation, and 
          my goal is to ride the wave up. Leadership changes quickly, so moving into and out of these names is key.  </p>

          <p class="text-left paragraph paragraph--dark">As with any site which lists stocks to trade, its best to have your
           own system before using someone else’s stock picks.  Does the name fit your criteria to purchase?  
          What will you do if a trade goes wrong?  At the end of the day, it comes down to doing your own homework.  </p>
          

          

          <div class="">
          <h3 class="text-left ">Reason's to bookmark this site:</h3>

            <div class="listcustom">

              <div >
                <p class="text-left paragraph paragraph--dark"> You are bored of reading the so-called Fintwit experts who call 
                winning trades after the fact.  These magical people never seem to lose money on their stock picks. 
                 In fact, they are so good at trading, they need your money so they can teach you about it.  
                Too bad these clowns are paper trading and probably know less than you do.</p>
                <%= image_tag "stock-nkla.png", alt: "Twitter B.S", class: 'picture-1' %>
             </div>

              <div class="mt-5">
                <p class="text-left paragraph paragraph--dark">You want to see someone who makes trades in real-time. 
                 Winning trades, losing trades, and boring trades.  You name it, I got it.  
                 Expect charts like the one below with exactly where I am buying, and why. 
                   
                    </p>
                
                <%= image_tag "stock-cdlx2.png", alt: "CDLX breakout", class: 'picture-1' %>
              </div>

              <div class="mt-5">
                <p class="text-left paragraph paragraph--dark"> If you find the financial media such as CNBC unbearable.  
                Who wants to watch stock cheerleading anyway? 
                 </p>
                
                
              </div>

            </div>
            
          </div>

        </div>

        <div class="col-lg-3 offset-lg-1 col-md-6 offset-md-3">

          <div class="listcustom-wrap blog-news-section">
          <h3 class="text-center heading-stock-news mb-5">Stock News</h3>
          <% @posts.each do |post| %>
            <div class="d-flex flex-column mb-3 p-1">
              <%= image_tag blog_image(post.main_image), class: 'blog_preview_pic' %>
              <div class="d-flex flex-column blog_preview_text m-2">
                <h3 class="blog_preview_header"><%= post.title %></h3>
                <%= link_to 'Read More ...', post, class:'blog_preview_link' %>
              </div>
            </div>
          <% end %>
          </div> <br>
         
          <div class="listcustom-wrap blog-news-section">
          <h3 class="text-center heading-stock-news mb-5">Watch List</h3>
          <%= render 'pages/home/stock_list'%>
          </div>
          

        </div>
      </div>
</div>