
<div class="">
<div class="ticker-wrap">
  <div class="ticker">
  <% @tickers.each do |stock| %>
    <div class="ticker__item"><%= stock.ticker %></div>
    <% end %>
  </div>
</div>
</div>
<div class="container-fluid bg-light pt-5 pb-5 pl-5">
      <div class="row">
        <div class="col-lg-6 offset-lg-1 p-5 text-center">

          <h2 class="text-left section-header mb-4 ">About</h2>

          <p class="text-left paragraph paragraph--dark">Welcome to the Wolf of State Street stock tracking platform.
             The objective of this site is to provide some insight into how I navigate the treacherous US equity
             markets.  I have been in the markets for a while (without much success for a span of time) ,
              but have only been trading a disciplined growth/momentum system
            for around 12 months and have achieved favorable returns while keeping risk very low.   </p>

          <p class="text-left paragraph paragraph--dark">
            There are plenty of gurus/teachers/mentors who will sell you their products or services and some of them will likely help someone just getting stared.  The platform is not that; its purpose is to act as a blueprint for my line of thinking as markets wax, wane, or chop around.  Explanations might appear sparse at times, and it is up to the reader to agree, disagree, or perform their own research.  If you want to learn the basics, I have listed some books in the “Rules” section of this site.

          </p>

          <p class="text-left paragraph paragraph--dark">
            This platform covers several things.  The first is fast-moving growth/momentum stocks with new products, expanding earnings, and growing margins.  Next, I follow general economic conditions including economic growth, inflation, and federal reserve policy.    When we are talking about growth names, we are talking about Amazon’s, JDSU’s, or Qualcom’s of the late 90s, or more recently, ROKU, Shopify, and Digital Turbine (APPS).   When studying to general economic conditions, we are more or less looking at proper allocations in a retirement fund which does not have many transactions in a given year.

            </p>


            <p class="text-left paragraph paragraph--dark">
              Want to speculate with some potential winners?   Want rebalance your retirement exactly how I do, and not trade often?  This platform is for you!
            </p>






          <div class="">
          <h3 class="text-left ">Reason's to bookmark this site:</h3>

            <div class="listcustom">

              <div >
                <p class="text-left paragraph paragraph--dark"> You want an honest snapshot of what I am thinking and trading. Unlike fake gurus on twitter who post nothing but winners, I will post mistakes with as much emphasis as wins.  I will not post excellent trades after the fact like I am some sort of genius, because I am not.  If you see any platform, or twitter account post something like the picture below, just ignore them.  </p>
                <%= image_tag "stock-nkla.png", alt: "Twitter B.S", class: 'picture-1' %>
             </div>

              <div class="mt-5">
                <p class="text-left paragraph paragraph--dark">You want to see real trades in real time.  While most of this information is posted on my twitter account, some of these trades will make it here if time permits.  Hardly anyone posts good trades (or bad trades) as they happen.   <br>



                    </p>

                <%= image_tag "stock-apha.png", alt: "CDLX breakout", class: 'picture-1' %>
              </div>

              <div class="mt-5">
                <p class="text-left paragraph paragraph--dark"> If you find the financial media such as CNBC unbearable.
                These idiots are always behind the curve, or talking up other people’s books as said insiders are taking contra-positions.  Not only is the cheerleading unbearable, but what they do is unethical.
                 </p>


              </div>

            </div>

          </div>

        </div>

        <div class="col-lg-3 offset-lg-1 col-md-6 offset-md-3">

          <div class="listcustom-wrap blog-news-section">
          <h3 class="text-center heading-stock-news mb-5">Stock News</h3>
          <% @posts.each do |post| %>
            <div class="d-flex flex-column mb-3 p-1">
              <%= image_tag blog_image(post.main_image), class: 'blog_preview_pic' %>
              <div class="d-flex flex-column blog_preview_text m-2">
                <h3 class="blog_preview_header"><%= post.title %></h3>
                <%= link_to 'Read More ...', post, class:'blog_preview_link' %>
              </div>
            </div>
          <% end %>
          </div> <br>

          <div class="listcustom-wrap blog-news-section">
          <h3 class="text-center heading-stock-news mb-5">Watch List</h3>
          <%= render 'pages/home/stock_list'%>
          </div>


        </div>
      </div>
</div>
