<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>When in disgrace with fortune and men's eyes, I all alone beweep my outcast state,
      And trouble deaf heaven with my bootless cries, And look upon myself and curse my fate.</p>
  </div>
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @sidebar_topics.each do |topic| %>
      <p>
        <%= link_to topic.title, topic_path(topic) %>
      </p>
    <% end %>
  </div>
  <div class="sidebar-module">
    <h4>Social</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>
