<div class="<%= location %>">
  <div>
    <%= link_to "Home", root_path %>
  </div>
  <div>
    <%= link_to "About", trading_rules_path %>
  </div>
  <div>
    <%= link_to "Live Status", markets_path %>
  </div>
  <div>
    <%= link_to "Blogs", blogs_path %>
  </div>
  <div>
    <%= link_to "Portfolios", portfolios_path %>
  </div>
</div>
