<div class="<%= location %>">
  <div>
    <%= link_to "home", root_path %>
  </div>
  <div>
    <%= link_to "Aboot", trading_rules_path %>
  </div>
  <div>
    <%= link_to "Market Status", market_status_path %>
  </div>
  <div>
    <%= link_to "Blogs", blogs_path %>
  </div>
  <div>
    <%= link_to "Portfolios", portfolios_path %>
  </div>
</div>
