<div class="site-wrapper container-fluid">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <!--div id="background"></div-->
      <%= video_tag(
            'increase_stock.mov',
             id: 'background',
             autoplay: false,
             loop: true,
             muted: true,
             poster: 'stockbg.jpg') %>
      <div class="inner cover text-center">
        <h1 class="element header"></h1>
        <span class="lead font-light font-size-1">Momentum trading - independent, and data-driven market operations.
          <div><br>
            <br>
            <p class="lead">
              <%= link_to "Check out the rules", trading_rules_path, class: "btn-stylish btn-stylish--primary" %>
            </p>
          </div>
        </div>
        <%= alerts %>
      </div>
    </div>
  </div>
</div>
  <%= render "pages/home/blog_list" %>
  <%= render "pages/home/stock_list" %>
  <%= render "pages/home/desc" %>

