<div class="container">
      <div class="row padding-top-lg">
        <div class="col m12">
          <article>
    <section class="terms_and_conditions">
      <h3>Terms of Service</h3><br>
      <h5 class="text-18 center-align">LAST UPDATED ON June 22, 2020</h5>
      <hr>

      <p class="tocFont">This terms of service agreement (“agreement” or “terms”) is a legal agreement between you (“you”,
          “your”, or “customer”) and <%= @companyName %> (“we”, or the “company”),  the owner and operator of the <%= @baseUrl %>
          website (the “site”).

          This agreement states the terms and conditions that govern your use of the <%= @companyName %> website, including subdomains thereof,
          and any other websites through which <%= @companyName %> makes its services available( collectively, "site"),
          our mobile, tablet, and other mart device applications and program interfaces (collectively "application")
          of all associated services (collectively, "<%= @companyName %> services").
          The site, application, and services together are collectively referred to as the "<%= @companyName %> Platform".

          By accessing and using any of the services,
          you are indicating that you accept, and agree to comply with, this agreement. If
          you do not accept this agreement, you are not permitted to, and you must not,
          access or use the services or purchase products from <%= @companyName %>.</p>

         

      <div class="article-content">
        <h3>Table of Contents</h3>
      <ol class="terms-list">
          <li><a href="#scope">Scope of <%= @companyName %> Services</a></li>
          <li><a href="#mod">Modification of these Terms</a></li>
          <li><a href="#eligable">Eligibility and using <%= @companyName %> Platform</a></li>
          <li><a href="#account">Account Registration</a></li>
          <li><a href="#content">Content</a></li>
          <li><a href="#thirdparty">Third Party Content</a></li>
          <li><a href="#submissions">Submissions</a></li>
          <li><a href="#information">Information</a></li>
          <li><a href="#prohibited">Prohibited Activities</a></li>
          <li><a href="#terminator">Terms of termination, suspension and other measures</a></li>
          <li><a href="#disclaimers">Disclaimers</a></li>
          <li><a href="#indemnification">Indemnification</a></li>
          <li><a href="#feedback">Feedback</a></li>
          <li><a href="#law">Applicable Law and Jurisdiction</a></li>
          <li><a href="#general">General Terms</a></li>

      </ol>
      </div><hr>

      <div id="privacyPolicy" class="section-privacy">
          <p id="scope" class="anchor"><strong>1. Scope of <%= @companyName %> Services</strong></p>

          <p><strong>1.1</strong> By using  the <%= @companyName %> Platform, including any services, products, software and content contained therein, 
          you agree that use of the Information contained herein entirely at your own risk. <%= @companyName %> is not a registered investment advisor or 
          a broker dealer. You understand and acknowledge that there is a very high degree of risk involved in trading securities. Past 
          results of any individual trader published on this Website are not indicative of future returns by that trader, and are not 
          indicative of future returns which may be realized by you. We assume no responsibility or liability for your trading and 
          investment results. The indicators, strategies, columns, articles, and all other features of the <%= @companyName %> Platform
          (collectively, the “Information”) are provided for informational and educational purposes only and should not be construed 
          as investment advice. The analysts and employees of <%= @companyName %> may hold positions in the stocks or 
          industries discussed here. You should not rely solely on the Information in making any investment. All factual statements 
          on this site are created on the dates indicated using timestamps and are subject to change without notice. </p>

          <p><strong>1.2</strong>  By using the Information on the <%= @companyName %> Platform, you assume full responsibility for any and 
          all gains and losses, 
          financial, emotional or otherwise, experienced, suffered or incurred by you. <%= @companyName %> does not guarantee the accuracy, 
          completeness or timeliness of, or otherwise endorse in any way, the views, opinions or recommendations expressed in the Information, 
          does not give investment advice, and does not advocate the purchase or sale of any security or investment by you or any other individual. 
          The Information is not intended to provide tax, legal or investment advice, which you should obtain from your professional advisor 
          prior to making any investment of the type discussed in the Information. The Information does not constitute a solicitation by the 
          information providers, <%= @companyName %>, or other of the purchase or sale of securities.</p>

          <p><strong>1.3</strong> THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS AND WITHOUT WARRANTY OF ANY KIND, 
          EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ANY WARRANTY FOR INFORMATION, DATA, SERVICES, UNINTERRUPTED ACCESS, 
          OR PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE SERVICE. SPECIFICALLY, <%= @companyName %> DISCLAIMS ANY AND ALL WARRANTIES, 
          INCLUDING, BUT NOT LIMITED TO: (i) ANY WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY, USEFULNESS, OR CONTENT OF INFORMATION,
           PRODUCTS OR SERVICES; AND (ii) ANY WARRANTIES OF TITLE, WARRANTY OF NON-INFRINGEMENT, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR 
           A PARTICULAR PURPOSE. THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, 
           OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT
            OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, 
          ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH OF CONTRACT, TORT, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION.
         </p>

         <p><strong>1.4</strong> NEITHER <%= @companyName %> NOR ANY OF ITS EMPLOYEES, AGENTS, SUCCESSORS, ASSIGNS, AFFILIATES, 
         OR CONTENT OR SERVICE PROVIDERS SHALL BE LIABLE TO YOU OR ANOTHER THIRD PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL 
         OR CONSEQUENTIAL DAMAGES ARISING OUT OF USE OF SERVICE OR INABILITY TO GAIN ACCESS TO OR USE THE SERVICE OR OUT OF ANY BREACH OF 
         ANY WARRANTY. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, 
         THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, THE RESPECTIVE LIABILITY OF <%= @companyName %>, ITS OFFICERS, DIRECTORS, 
         EMPLOYEES, CUSTOMERS, AGENTS, SUCCESSORS, ASSIGNS, AFFILIATES, AND CONTENT OR SERVICE PROVIDERS RESPECTIVE LIABILITY IS LIMITED 
         TO THE GREATEST EXTENT PERMITTED BY SUCH STATE LAW.</p>




        <p><strong>1.5</strong> We reserve the right to change any information on this Website, including but not limited to 
        revising and/or deleting features or other information without prior notice to you. Accessing certain links within this 
        Website may provide you with access to other Websites for which we assume no responsibility of any kind for the content, 
        availability or otherwise. (See “Links from and to <%= @companyName %>” below.) The content of this Website may vary depending upon 
        your browser functionality and limitations.</p>

        <p><strong>1.6</strong> You acknowledge and agree that you must: (a) provide for your own access to the World Wide Web and 
        pay any service fees associated with such access, and (b) provide all equipment necessary for you to make such connection to 
        the World Wide Web, including a computer, software, a modem and a working telephone line.</p>



          <p id="mod" class="anchor"><strong>2. Modification of these Terms</strong></p>

          <p><%= @companyName %> reserves the right to modify these Terms at any time in accordance with this provision.
          If we make changes to these Terms, we will post the revised Terms on the <%= @companyName %> Platform and update the “Last Updated” date at the top of these Terms.
          We will also provide you with notice of the modifications by email at least thirty (30) days before the date they become effective.
          If you disagree with the revised Terms, you may terminate this Agreement with immediate effect. We will inform you about your right
          to terminate the Agreement in the notification email. If you do not terminate your Agreement before the date the revised Terms
          become effective, your continued access to or use of the <%= @companyName %> Platform will constitute acceptance of the revised Terms. </p>


          <p id="eligable" class="anchor"><strong>3. Eligibility and using <%= @companyName %> Platform</strong></p>
          <p><strong>3.1</strong> In order to access and use the <%= @companyName %> Platform, or register a <%= @companyName %> account ,you must
           be be an individual of the age of 18 years old, a duly organized, validly existing business, organization
          or other legal entity in good standing under US laws and you must be able to enter into legally binding contracts.</p>
          



          <p><strong>3.2</strong> The access to or use of certain areas and features of the <%= @companyName %> Platform may be subject to separate
            policies, standards or guidelines, or may require that you accept additional terms and conditions, before you can
            access the relevant areas or features of the <%= @companyName %> Platform. If there is a conflict between these Terms and terms and
            conditions applicable to a specific area or feature of the <%= @companyName %> Platform, the latter terms and conditions will take
            precedence with respect to your access to or use of that area or feature, unless specified otherwise in the
            latter terms and conditions.</p>


          <p id="account" class="anchor"><strong>4. Account Registration</strong></p>

          <p><strong>4.1</strong> You must register an account ("<%= @companyName %> Account") to access and use certain features
            of the <%= @companyName %> Platform, such as posting comments. If you are registering an <%= @companyName %> Account
            for a business, organization or other legal entity, you represent and warrant that you have the authority
            to legally bind that entity and grant us all permissions and licenses provided in these Terms.</p>

          <p><strong>4.2</strong> You can register an <%= @companyName %> Account using an email address and creating a password. </p>

          <p><strong>4.3</strong> You may not register more than one (1) <%= @companyName %> Account unless <%= @companyName %>
            authorizes you to do so. You may not assign or otherwise transfer your <%= @companyName %> Account to another party.</p>

          <p><strong>4.4</strong> You are responsible for maintaining the confidentiality and security of your <%= @companyName %> Account credentials
            and may not disclose your credentials to any third party. You must immediately notify <%= @companyName %> if you know or
            have any reason to suspect that your credentials have been lost, stolen, misappropriated, or otherwise compromised
            or in case of any actual or suspected unauthorized use of your <%= @companyName %> Account. You are liable for any and all activities
            conducted through your <%= @companyName %> Account, unless such activities are not authorized by you and you are not otherwise negligent
            (such as failing to report the unauthorized use or loss of your credentials).</p>


          <p id="content" class="anchor"><strong>5. Content</strong></p>
          <p><strong>5.1</strong> <%= @companyName %> may, at its sole discretion, enable Members to (i) create, upload, post, send,
            receive and store content, such as text, photos, audio, video, or other materials and information on or
            through the <%= @companyName %> Platform ("Member Content"); and (ii) access and view Member Content and any
            content that <%= @companyName %> itself makes available on or through the <%= @companyName %> Platform, including
            proprietary <%= @companyName %> content and any content licensed or authorized for use by or through <%= @companyName %> from
            a third party ("<%= @companyName %> Content" and together with Member Content, "Collective Content").</p>

          <p><strong>5.2</strong> The <%= @companyName %> Platform, <%= @companyName %> Content, and Member Content may in its entirety or in part be
            protected by copyright, trademark, and/or other laws of the United States and other countries.
            You acknowledge and agree that the <%= @companyName %> Platform and <%= @companyName %> Content, including all associated
            intellectual property rights, are the exclusive property of <%= @companyName %> and/or its licensors or authorizing
            third-parties. You will not remove, alter or obscure any copyright, trademark, service mark or other
            proprietary rights notices incorporated in or accompanying the <%= @companyName %> Platform, <%= @companyName %> Content or
            Member Content. All trademarks, service marks, logos, trade names, and any other source identifiers of
            <%= @companyName %> used on or in connection with the <%= @companyName %> Platform and <%= @companyName %> Content are trademarks or registered
            trademarks of <%= @companyName %> in the United States and abroad. Trademarks, service marks, logos, trade names and
            any other proprietary designations of third parties used on or in connection with the <%= @companyName %> Platform,
            <%= @companyName %> Content, and/or Collective Content are used for identification purposes only and may be the property of their respective owners.</p>

          <p><strong>5.3</strong> You will not use, copy, adapt, modify, prepare derivative works of, distribute,
            license, sell, transfer, publicly display, publicly perform, transmit, broadcast or
            otherwise exploit the <%= @companyName %> Platform or Collective Content, except to the extent you are t
            he legal owner of certain Member Content or as expressly permitted in these Terms.
            No licenses or rights are granted to you by implication or otherwise under any intellectual
             property rights owned or controlled by <%= @companyName %> or its licensors, except for the licenses and rights expressly granted in these Terms.</p>

          <p><strong>5.4</strong> Subject to your compliance with these Terms, <%= @companyName %> grants you a limited, non-exclusive,
            non-sublicensable, revocable, non-transferable license to (i) download and use the Application on your
            personal device(s); and (ii) access and view any Collective Content made available on or through the <%= @companyName %>
            Platform and accessible to you, solely for your personal and non-commercial use.</p>


     
          <p><strong>5.5</strong> <%= @companyName %> respects copyright law and expects Members to respect copyright law.
            If you believe that any content on the <%= @companyName %> Platform infringes copyrights you own,
            please notify us.</p>

          <p id="thirdparty" class="anchor"><strong>6. Third Party Content</strong></p>

          <p><strong>6.1</strong> Stock quotes, charts, news, market update, portfolio tracking, historical and other information 
          on <%= @companyName %> are provided by third-party data providers. Daily updates are subject to market 
          fluctuations and are based on the latest quotes received from third-party data contributors and is subject 
          to a 20-minute delay. Market quotes and certain other information on this Website, as well as reference 
          materials or links to other sites, are for general informational purposes only, and are not intended 
          to be relied upon for transactional purposes. Neither <%= @companyName %> nor any of its data or content 
          providers shall be liable for any errors or delays in the content, or for any actions taken in reliance thereon.</p>


          <p id="submissions" class="anchor"><strong>7. Submissions</strong></p>
          <p><strong>7.1</strong> All information submitted to <%= @companyName %> via this Website shall be deemed and remain 
          the property of <%= @companyName %>, and we shall be free to use, for any purpose, any ideas, concepts, know-how or 
          techniques contained in information any user of this Website provides to <%= @companyName %> through this Website. 
          <%= @companyName %> shall not be subject to any obligations of confidentiality regarding submitted information,
           except as agreed by <%= @companyName %> entity having the direct customer relationship or as otherwise specifically
            agreed or required by law.</p>
          



          <p id="information" class="anchor"><strong>8. Information</strong></p>

          <p><strong>8.1</strong> We are taking appropriate measures, including encryption, 
          to ensure that your personal information is 
          disclosed only to those specified by guarantee that the personal information you have entered will 
          not be intercepted by others and decrypted.</p>




          <p id="prohibited" class="anchor"><strong>9. Prohibited Activities</strong></p>
          <p><strong>9.1</strong> You are solely responsible for compliance with any and all laws, rules,
            regulations that may apply to your use of the <%= @companyName %> Platform.
            In connection with your use of the <%= @companyName %> Platform, you will not and will not assist or enable others to:</p>

            <ul class="terms-unordered-list">
              <li>  breach or circumvent any applicable laws or regulations,
                agreements with third-parties, third-party rights, or our Terms, Policies or Standards;</li>
                <li>
                  use the <%= @companyName %> Platform or Collective Content for any commercial or other
                  purposes that are not expressly permitted by these Terms or in a
                  manner that falsely implies <%= @companyName %> endorsement, partnership or
                  otherwise misleads others as to your affiliation with <%= @companyName %>;
                
                copy, store or otherwise access or use any information, including personally identifiable
                information about any other Member, contained on the <%= @companyName %> Platform in any way
                that is inconsistent with <%= @companyName %>’s Privacy Policy or these Terms or that
                otherwise violates the privacy rights of Members or third parties; </li>

                <li>
                  upload, post, publish, reproduce, transmit or distribute in any way any component of the Service 
            itself or derivative works with respect thereto, as the Service is copyrighted as a collective work under U.S. copyright laws; or
                </li>
            
                <li>
                  discriminate against or harass anyone on the basis of race, national origin, religion,
                  gender, gender identity, physical or mental disability,
                  medical condition, marital status, age or sexual orientation,
                  or otherwise engage in any violent, harmful, abusive or disruptive behavior;
                </li>
                <li>
                  use, display, mirror or frame the <%= @companyName %> Platform or Collective Content, or
                  any individual element within the <%= @companyName %> Platform, <%= @companyName %>'s name, any
                  <%= @companyName %> trademark, logo or other proprietary information, or the layout
                  and design of any page or form contained on a page in the <%= @companyName %>
                  Platform, without <%= @companyName %>'s express written consent;
                </li>
                <li>
                  dilute, tarnish or otherwise harm the <%= @companyName %> brand
                  in any way, including through unauthorized use of Collective Content,
                  registering and/or using <%= @companyName %> or derivative terms in domain names,
                  trade names, trademarks or other source identifiers, or
                  registering and/or using domains names, trade names,
                  trademarks or other source identifiers that closely
                  imitate or are confusingly similar to <%= @companyName %> domains, trademarks,
                  taglines, promotional campaigns or Collective Content;
                </li>
                <li>
                  use any robots, spider, crawler, scraper or other automated means
                  or processes to access, collect data or other content from or
                   otherwise interact with the <%= @companyName %> Platform for any purpose;
                </li>
                <li>
                  avoid, bypass, remove, deactivate, impair, descramble, or
                  otherwise attempt to circumvent any technological measure
                  implemented by <%= @companyName %> or any of <%= @companyName %>'s providers or
                  any other third party to protect the <%= @companyName %> Platform;
                </li>
                <li>
                  attempt to decipher, decompile, disassemble or reverse engineer
                  any of the software used to provide the <%= @companyName %> Platform;
                </li>

                <li>
                  take any action that damages or adversely affects, or could
                  damage or adversely affect the performance or proper
                  functioning of the <%= @companyName %> Platform;
                </li>
                <li>
                  export, re-export, import, or transfer the Application except
                  as authorized by United States law, the export control laws of
                  your jurisdiction, and any other applicable laws; or
                </li>
                <li>
                    offer to sell or buy any security or other investment vehicle; or
                </li>

                <li>
                     knowingly violate any laws, including without limitation the Securities Act of 1933 and 
             Securities Exchange Act, or any rule of any securities exchange, 
             including, without limitation, the New York Stock Exchange or the NASDAQ/AMEX.
                </li>

                <li>
                    post or transmit any advertisements, solicitations, chain letters, pyramid schemes, 
             investment opportunities or schemes or other unsolicited commercial communication 
             (except as otherwise expressly permitted by <%= @companyName %>) or engage in spamming or flooding; or
                </li>

                <li> 
                    impersonate any other person or entity, or misrepresent your affiliation with any other person or entity; or
                </li>
                <li>
                  violate or infringe anyone else’s rights or otherwise cause harm to anyone.
                </li>

            </ul>

          <p><strong>9.2</strong> You acknowledge that <%= @companyName %> has no obligation to monitor
            the access to or use of the <%= @companyName %> Platform by any Member or to review, disable access
            to, or edit any Member Content, but has the right to do so to (i) operate, secure and
            improve the <%= @companyName %> Platform (including without limitation for fraud prevention,
             risk assessment, investigation and customer support purposes); (ii) ensure Members’
             compliance with these Terms; (iii) comply with applicable law or the order or
             requirement of a court, law enforcement or other administrative agency or
             governmental body; (iv) respond to Member Content that it determines is
             harmful or objectionable; or (v) as otherwise set forth in these Terms.
             Members agree to cooperate with and assist <%= @companyName %> in good faith, and to
             provide <%= @companyName %> with such information and take such actions as may be
             reasonably requested by <%= @companyName %> with respect to any investigation undertaken
             by <%= @companyName %> or a representative of <%= @companyName %> regarding the use or abuse of the <%= @companyName %> Platform.</p>



          <p id="terminator" class="anchor"><strong>10. Terms of termination, suspension and other measures</strong></p>

          <p><strong>10.1</strong> This Agreement shall be effective for a 30-day term, at the end of which it will automatically and 
          continuously renew for
            subsequent 30-day terms until such time when you or <%= @companyName %> terminate the Agreement in
            accordance with this provision.</p>

          <p><strong>10.2</strong> You may terminate this Agreement at any time by sending us an email.
            </p>
          <p><strong>10.3</strong> Without limiting our rights specified below, <%= @companyName %> may terminate this Agreement
            for convenience at any time by giving you thirty (30) days' notice via email to your registered email address.</p>

          <p><strong>10.4</strong> <%= @companyName %> may immediately, without notice, terminate this Agreement and/or stop
            providing access to the <%= @companyName %> Platform if (i) you have materially breached your obligations
            under these Terms, the Payments Terms, our Policies or Standards, (ii) you have violated
            applicable laws, regulations or third party rights, or (iii) <%= @companyName %> believes in
            good faith that such action is reasonably necessary to protect the personal safety or
            property of <%= @companyName %>, its Members, or third parties (for example in the case of fraudulent behavior of a Member).</p>

          <p><strong>10.5</strong> In addition, <%= @companyName %> may take any of the following measures (i) to comply with applicable law, or the
            order or request of a court, law enforcement or other administrative agency or governmental body, or if
            (ii) you have breached these Terms, the Payments Terms, our Policies or Standards, applicable laws,
            regulations, or third party rights, 
            (vii) <%= @companyName %> believes in good faith that such action is reasonably necessary to
            protect the personal safety or property of <%= @companyName %>, its Members, or third parties, or to prevent
             fraud or other illegal activity:</p>

             <ul class="terms-unordered-list">

               <li>  limit your access to or use of the <%= @companyName %> Platform;

               </li>
               <li>  temporarily or permanently revoke any special status associated with your <%= @companyName %> Account;

               </li>
               <li>  temporarily or in case of severe or repeated offenses
                 permanently suspend your <%= @companyName %> Account and stop providing access to the <%= @companyName %> Platform.

               </ul>

               <p>
                 In case of non-material breaches and where appropriate, you will be given notice of any
                 intended measure by <%= @companyName %> and an opportunity to resolve the issue to <%= @companyName %>'s reasonable satisfaction.
               </p>
          <p><strong>10.6</strong> You acknowledge and agree that we may terminate your password or account or
           deny you access to all or part of the Service without prior notice if you engage in any conduct or activities
            that we, in our sole discretion, believe violate any of these Terms and Conditions, violate the rights of 
            <%= @companyName %> , or are otherwise inappropriate for continued access.</p>


          <p><strong>10.7</strong> You acknowledge and agree that we may, in our sole discretion, deny you access, through 
          <%= @companyName %>, to third party services, merchandise, materials or information on the Internet, and we shall 
          have no responsibility to notify any third-party providers of services, merchandise, or information nor any 
          responsibility for any consequences resulting from lack of notification.</p>


        <p><strong>10.8</strong> You agree to defend, indemnify and hold <%= @companyName %> and its affiliates 
        harmless from any and all claims, liabilities, costs and expenses, including reasonable attorneys’ fees, arising 
        in any way from your use of the Service or the placement or transmission of any message, information, software 
        or other materials through the Service by you or users of your account or related to any violation of these Terms and Conditions 
        by you or users of your account.</p>


          <p><strong>10.9</strong> The following ; 
          <u>Section 5 </u> 
          <u> Section 11</u> and
           <u> Section 15</u>
               of these Terms shall survive any termination or expiration of this Agreement.</p>


          <p id="disclaimers" class="anchor"><strong>11. Disclaimers</strong></p>

          <p> If you choose to use the <%= @companyName %> Platform , you do so voluntarily and at your sole risk. The <%= @companyName %>
            Platform and Collective Content is provided “as is”, without warranty of any kind, either express or implied.</p>

            <p>You agree that you have had whatever opportunity you deem necessary to investigate the <%= @companyName %> Services,
               laws, rules, or regulations that may be applicable to your Listings and/or Venue Services
              you are receiving and that you are not relying upon any statement of law or fact made by <%= @companyName %> relating
              to a Listing.</p>
          <p> <%= @companyName %>  shall not be liable to any Member for failure to supply any Credit
              or any part thereof, by reason of any acts of God, any action(s), regulation(s),
              order(s) or request(s) by any governmental or quasi-governmental entity
              (whether or not the action(s), regulations(s), order(s) or request(s)
              prove(s) to be invalid), equipment failure, threatened terrorist acts,
              terrorist acts, air raid, blackout, act of public enemy, earthquake, tornado,
              tsunami, war (declared or undeclared), fire, flood, epidemic, explosion,
              unusually severe weather, hurricane, embargo, labor dispute or strike
              (whether legal or illegal), labor or material shortage, transportation
              interruption of any kind, work slow-down, civil disturbance, insurrection,
              riot, or any other similar or dissimilar cause beyond any of the Released Parties' control.</p>


          <p id="indemnification" class="anchor"><strong>12. Indemnification</strong></p>
          <p>To the maximum extent permitted by applicable law, you agree to release, defend (at <%= @companyName %>’s option), indemnify,
            and hold <%= @companyName %> and its affiliates and subsidiaries, including but not limited to
            their officers, directors, employees and agents, harmless from and against any claims,
            liabilities, damages, losses, and expenses, including, without limitation, reasonable legal
            and accounting fees, arising out of or in any way connected with (i) your breach of these
            Terms or our Policies or Standards, (ii) your improper use of the <%= @companyName %> Platform or any
            <%= @companyName %> Services, (iii) your interaction with any Member, use of an Accommodation,
             including without limitation any injuries, losses or damages
            (whether compensatory, direct, incidental, consequential or otherwise) of any
            kind arising in connection with or as a result of such interaction,
            participation or use, or (iv) your breach of any laws, regulations or third party rights.</p>


          <p id="feedback" class="anchor"><strong>13. Feedback</strong></p>
          <p>We welcome and encourage you to provide feedback, comments and
            suggestions for improvements to the <%= @companyName %> Platform (“Feedback“).
            You may submit Feedback by emailing us or by other means of communication.
            Any Feedback you submit to us will be considered non-confidential and
            non-proprietary to you. By submitting Feedback to us, you grant us a
            non-exclusive, worldwide, royalty-free, irrevocable, sub-licensable,
            perpetual license to use and publish those ideas and materials for
            any purpose, without compensation to you.</p>

          <p id="law" class="anchor"><strong>14. Applicable Law and Jurisdiction</strong></p>
          <p>If your country of residence or establishment is the United States,
            these Terms will be interpreted in accordance with the laws of the State of
            New Hampshire and the United States of America, without
            regard to conflict-of-law provisions. Judicial proceedings
             must be brought in state or federal court in
            Concord, New Hampshire, unless all parties agree to some other location.
            You and we both consent to venue and personal jurisdiction in Concord, New Hampshire.</p>


          <p id="general" class="anchor"><strong>15. General Terms</strong></p>
          <p><strong>15.1</strong> Except as they may be supplemented by additional terms and conditions,
            policies, guidelines or standards, these Terms constitute the entire Agreement between
            <%= @companyName %> and you pertaining to the subject matter hereof, and supersede any and all
            prior oral or written understandings or agreements between <%= @companyName %> and you in
            relation to the access to and use of the <%= @companyName %> Platform.</p>

          <p><strong>15.2</strong> No joint venture, partnership, employment, or agency
            relationship exists between you and <%= @companyName %> as a result of this Agreement
             or your use of the <%= @companyName %> Platform.</p>

          <p><strong>15.3</strong> These Terms do not and are not intended to
            confer any rights or remedies upon any person other than the parties.</p>

          <p><strong>15.4</strong> If any provision of these Terms is held to be invalid or unenforceable,
            such provision will be struck and will not affect the validity and enforceability of the
            remaining provisions.</p>

          <p><strong>15.5</strong> <%= @companyName %>’s failure to enforce any right or provision in these Terms
            will not constitute a waiver of such right or provision unless acknowledged and
            agreed to by us in writing. Except as expressly set forth in these Terms,
            the exercise by either party of any of its remedies under these Terms will
            be without prejudice to its other remedies under these Terms or otherwise permitted under law.</p>

          <p><strong>15.6</strong>  You may not assign, transfer or delegate this Agreement and your
            rights and obligations hereunder without <%= @companyName %>'s prior written consent. <%= @companyName %>
            may without restriction assign, transfer or delegate this Agreement and any rights
            and obligations hereunder, at its sole discretion, with 30 days prior notice. Your
            right to terminate this Agreement at any time remains unaffected.</p>
            
          <p><strong>15.7</strong> Unless specified otherwise, any notices or other
            communications to Members permitted or required under this Agreement, will be
            provided electronically and given by <%= @companyName %> via email, <%= @companyName %> Platform
            notification, or messaging service (including SMS ).</p>

            <p><strong>15.8</strong> This information is issued solely for informational purposes and does not 
            constitute an offer to sell or a solicitation of an offer to buy securities. Information contained herein 
            is based on sources which we believe to be reliable but is not guaranteed by us as being accurate and does
             not purport to be a complete statement or summary of available data. Past performance is not a guarantee,
              nor is it necessarily indicative, of future results. Opinions expressed herein are statements of our judgment 
              as of the publication date and are subject to change without notice. Entities including but not limited to 
              <%= @companyName %>, its members, officers, directors, employees, customers, agents and affiliates may have a position, 
              long or short, in the securities referred to herein, and/or other related securities, and may increase or decrease 
              such position or take a contra position. Additional information is available upon written request. Reproduction 
              without written permission is strictly prohibited and will 
              be prosecuted to the full extent of the law.</p>






      </div>

    </section>
</article>

</div>
</div>
</div>

<script>
  (function(document, history, location) {
  var HISTORY_SUPPORT = !!(history && history.pushState);

  var anchorScrolls = {
    ANCHOR_REGEX: /^#[^ ]+$/,
    OFFSET_HEIGHT_PX: 200,

    /**
     * Establish events, and fix initial scroll position if a hash is provided.
     */
    init: function() {
      this.scrollToCurrent();
      $(window).on('hashchange', $.proxy(this, 'scrollToCurrent'));
      $('body').on('click', 'a', $.proxy(this, 'delegateAnchors'));
    },

    /**
     * Return the offset amount to deduct from the normal scroll position.
     * Modify as appropriate to allow for dynamic calculations
     */
    getFixedOffset: function() {
      return this.OFFSET_HEIGHT_PX;
    },

    /**
     * If the provided href is an anchor which resolves to an element on the
     * page, scroll to it.
     * @param  {String} href
     * @return {Boolean} - Was the href an anchor.
     */
    scrollIfAnchor: function(href, pushToHistory) {
      var match, anchorOffset;

      if(!this.ANCHOR_REGEX.test(href)) {
        return false;
      }

      match = document.getElementById(href.slice(1));

      if(match) {
        anchorOffset = $(match).offset().top - this.getFixedOffset();
        $('html, body').animate({ scrollTop: anchorOffset});

        // Add the state to history as-per normal anchor links
        if(HISTORY_SUPPORT && pushToHistory) {
          history.pushState({}, document.title, location.pathname + href);
        }
      }

      return !!match;
    },

    /**
     * Attempt to scroll to the current location's hash.
     */
    scrollToCurrent: function(e) {
      if(this.scrollIfAnchor(window.location.hash) && e) {
        e.preventDefault();
      }
    },

    /**
     * If the click event's target was an anchor, fix the scroll position.
     */
    delegateAnchors: function(e) {
      var elem = e.target;

      if(this.scrollIfAnchor(elem.getAttribute('href'), true)) {
        e.preventDefault();
      }
    }
  };

  $(document).ready($.proxy(anchorScrolls, 'init'));
  })(window.document, window.history, window.location);
</script>
