<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/application_nav" %>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <!--div id="background"></div-->
          <%= video_tag(
            'increase_stock.mov',
             id: 'background',
             autoplay: true,
             loop: true,
             muted: true,
             poster: 'stockbg.jpg') %>
          
              <%= yield %>
          
          <%= alerts %>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-light text-dark pt-5 pb-5">
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quas vel asperiores quam pariatur aperiam molestias laborum delectus ipsa, inventore magnam? Temporibus nobis mollitia facere officia alias consequuntur dolor quas.</p>
        </div>
      </div>
    </div>
    <%= render "shared/application_footer" %>
  </body>
</html>
