<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet"> 
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/application_nav" %>
    <div class="container-fluid container-blogs">
      <!--div class="row"-->
        <%= yield %>
        
      </!--div-->
      <%= alerts %>
    </div>
    <%= render "shared/application_footer" %>
  </body>
</html>
